<!doctype html>
<html lang="en">
  <head>
    <%- include("./head.ejs")%>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Signin Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">

    

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="./css/signin.css" rel="stylesheet">
    <script>
      function signup(){
        location.href="/signup"
      }
    </script>
    <script>
        $(function(){
           $("#signin").attr('disabled', 'disabled');
                $("input").keyup(function(){
                   var pass1 = $("#floatingInput").val();
                   var pass2 = $("#floatingPassword").val();
                   if(pass1 && pass2){
                       if(pass2.length >3){
                            $("#signin").removeAttr('disabled');
                       }else{
                           $("#signin").attr('disabled', 'disabled')
                       }            
                   }else{           
                       $("#signin").attr('disabled', 'disabled');
                    }
                    })
                })

    </script>
  </head>
  <body class="text-center">

    <%- include("./nav.ejs")%>
    <main class="form-signin">
     <form action="/login" method = "POST">
      <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="id" name="post_id">
      <label for="floatingInput">id</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
      <label for="floatingPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" id = "signin">Sign in</button>
    
  </form>
  <button onclick="signup()" class="w-100 btn btn-lg btn-primary" id = "signup">Sign up</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
</main>


    
  </body>
</html>
